/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: sans-serif;
}

html {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 31.5px;
  padding-right: 31.5px;
}

nav {
  padding: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu a {
  font-size: 1.7em;
  color: #040201;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.menu a:hover,
footer a:hover {
  color: #f01323;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 40px;
}

header {
  max-height: 600px;
  background: url(../img/mainPic.png) center no-repeat;
  background-size: cover;
}

.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-shadow: 5px 10px 5px #000;
}

header p {
  color: #e3d9d2;
  font-size: 1.9em;
  margin-top: 55px;
  line-height: 2;
  word-spacing: 5px;
  padding-bottom: 140px;
}

.scroll_mouse {
  background: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  width: 99px;
  height: 99px;
  z-index: 1;
}

h1 {
  color: #f01323;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: 217px;
}

h2 {
  color: #f01323;
  font-size: 3.9em;
  margin-top: 56px;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.description {
  max-width: 100%;
  background: #000;
}

.offer {
  max-width: 50%;
  margin-top: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer #redButton {
  margin-right: 50%;
}

.dynamic {
  float: right;
  max-width: 50%;
  overflow: hidden;
}

.dynamic img {
  max-width: 100%;
}

.offer p {
  max-width: 100%;
  color: #5a5a5a;
  font-size: 2.7em;
  line-height: 1.5;
  padding-bottom: 5%;
}

#redButton {
  display: inline-block;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #f2e2df;
  background: #cf0b19;
  padding: 20px 75px;
  font-size: 1.9em;
  margin-bottom: 30px;
}

.description img {
  vertical-align: middle;
  margin-left: 2%;
  margin-top: 5%;
  background: #000;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  color: #5a5a5a;
}

.right-box {
  max-width: 31%;
  float: right;
  overflow: hidden;
}

.about button {
  font-size: 1.8em;
  padding: 22px 65px;
  margin-top: 25px;
  margin-bottom: 55px;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background: inherit;
}

.about p {
  width: 90%;
  font-size: 2.4em;
}

h4 {
  font-size: 2.7em;
  color: #d41120;
  margin-top: 30px;
  margin-bottom: 20px;
}

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  margin-top: 123px;
}

.advant-description {
  text-align: center;
  margin-bottom: 5%;
}

.advant-description:nth-of-type(2) {
  margin-top: -20px;
}

.advant-description:nth-of-type(3) {
  margin-top: -13px;
}

.advantages p {
  max-width: 100%;
  font-size: 1.9em;
  color: #a6a6a6;
  /* line-height: 2; */
}

.user {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: #ae1914;
}

h5 {
  color: #ff7a76;
  font-size: 2.4em;
  margin-top: 25%;
}

.user-ava {
  display: inline-block;
  margin-top: 115px;
  margin-bottom: 35px;
}

.user p {
  width: 60%;
  color: #cdc5c5;
  font-size: 3em;
  margin: 0px auto;
  word-spacing: 0.3em;
}

.user-coment .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.user-coment button {
  padding: 20px 60px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
  background: inherit;
  color: #fff;
  font-size: 2.37em;
  margin-top: 60px;
  margin-bottom: 120px;
}

.user-coment button {
  border: none;
}

button.user-btn {
  border: 2px solid #fff;
  text-align: center;
}

.about_user {
  background: #2f2f2f;
  position: relative;
}

.about_user p {
  font-size: 2.4em;
  color: #b9b8b9;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about_user h2 {
  margin-top: 0;
  padding-top: 90px;
}

.heading {
  max-width: 90%;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.row {
  max-width: 100%;
}
.heading span {
  font-size: 1em;
  color: #d0cece;
}

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

form button {
  width: 28%;
  margin: 30px auto;
  border: none;
}

label {
  margin-left: 37%;
  font-size: 1.7em;
  color: #868686;
}

form input {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  background: #c0bcbc;
  color: #5f5b5b;
  font-size: 1.8em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

footer li {
  text-align: center;
  padding: 20px 20px;
}

footer a {
  color: #f4ece5;
  font-size: 1.7em;
}

.shop {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-bottom: 50px;
}

.row.shops {
  min-height: 25vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shops img {
  max-width: 70%;
  margin: 0px auto;
  position: relative;
}

.shops h2 {
  margin-top: 50px;
}

.showcase::after {
  content: "свобода без проводов";
  line-height: 1;
  font-size: 1.5em;
  padding-top: 2.3%;
  word-spacing: 25px;
  color: #cdc5c5;
  display: block;
  top: 20px;
  right: 75px;
  width: 100px;
  height: 100px;
  position: absolute;
  background: url(../img/badge.png) no-repeat center;
  background-size: cover;
  border: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 25;
}

.shop li {
  width: 100%;
  margin-right: 0;
  text-align: center;
  font-size: 2em;
}

.showcase {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.shop button {
  width: 60%;
  background: red;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 25px;
  color: #fff;
  font-size: 2.6em;
  margin: 0 auto;
}

.modal-window-user {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
}

textarea {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #c0bcbc;
  font-size: 1.8em;
  padding: 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn-close {
  background: #ae1914;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  margin-top: 50px;
  margin-right: 50px;
  color: #fff;
}

.gratitude {
  text-align: center;
}

.gratitude h1,
.gratitude h2 {
  color: #c0bcbc;
}

.gratitude h1 {
  text-transform: none;
  font-size: 5.3em;
}
.gratitude h2 {
  width: 80%;
  margin: 0 auto;
  text-transform: none;
  font-size: 3.9em;
}

.modal-body {
  /* padding-top: 25%; */
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.modal-body .close-form {
  top: 150px;
}

.small__menu button {
  display: none;
}

@media screen and (max-width: 986px) {
  .description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: column-reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    text-align: center;
  }

  .offer {
    max-width: 100%;
    /* margin: 0 auto; */
  }

  .offer #redButton {
    margin: 0 auto;
  }

  .dynamic {
    float: none;
    margin: 0 auto;
  }

  .about {
    max-width: 100%;
    margin-left: 4%;
  }

  .nopad {
    /* width: 100%; */
    padding: 0;
    background: #000;
  }

  .about img {
    width: 100%;
  }

  .right-box {
    display: none;
  }

  .shop button {
    width: 80%;
  }

  .scroll_mouse {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .small__menu button {
    display: none;
  }

  .scroll_mouse {
    display: none;
  }

  #redButton {
    padding: 15px 30px;
  }

  .close-form {
    margin-right: 0px;
  }

  .shop button {
    width: 80%;
  }

  .showcase::after {
    padding-top: 25px;
    top: -20px;
    right: 50px;
  }
}

@media screen and (max-width: 675px) {
  .small__menu button {
    display: block;
  }

  .scroll_mouse {
    display: none;
  }
  .shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .intro {
    font-size: 8px;
  }

  .intro h1 {
    margin-top: 150px;
  }

  .showcase:nth-of-type(4) {
    margin-bottom: 30%;
    margin-top: -18%;
  }

  .about {
    text-align: center;
  }

  .about p {
    margin: 0 auto;
  }

  form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 7%;
  }

  form button {
    width: 80%;
    margin: 30px auto;
    border: none;
  }

  label {
    display: none;
  }

  form input {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #c0bcbc;
    color: #5f5b5b;
    font-size: 1.8em;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  textarea {
    width: 90%;
  }

  .heading p {
    width: 90%;
  }

  .arrow-left,
  .arrow-right {
    display: none;
  }

  .user-coment p {
    width: 90%;
    text-align: center;
  }

  .btn-close {
    top: 626px;
  }

  .small {
    width: 50%;
    margin-right: 125px;
    background-color: lightgreen;
  }

  .gratitude {
    width: 90%;
    font-size: 5px;
    margin: 0 auto;
  }

  .close-form {
    margin-top: 400px;
    margin-right: 75px;
  }

  .gratitude h2 {
    padding-top: 5%;
  }

  footer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2%;
  }

  footer li {
    padding-top: 10%;
  }

  .menu ul {
    display: none;
  }

  .small__menu {
    max-width: 30%;
    margin-top: -80px;
    position: relative;
    right: 80px;
  }

  .small__menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
  }

  .small__menu li {
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* margin-right: 40px; */
  }

  .small__menu a {
    font-size: 12px;
    color: #000;
  }

  .small__menu button {
    margin-left: 70px;
    background: rgba(255, 255, 255, 0.7);
    color: red;
    border: none;
  }
}
